@media screen and (max-width:850px){
    body{
        background-color: red;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 15px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .slider img{
        padding: 25px 25vw;
    }
    .btn{
        padding: 0 5px;
    }
    .search input{
        margin: 12px 16px;
        width: 38vw;
    }
    nav ul{
        height: 25px;
    }
}